<div class="card h-100 shadow-sm" >
          <!---  <div *ngIf="e.title.toLowerCase().trim().includes(propNgModel.toLowerCase().trim())" class="card h-100 shadow-sm" >----> contains
                <img [src]="e.imageUrl"
                     class="card-img-top img-fluid"
                     style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title" appHighlight>{{e.title | uppercase}}</h5>
                    <p class="text-muted">{{e.place}},{{e.date | date:'mediumDate'}}</p>
                    <p>{{e.description}}</p>
                    <p class="fw-bold">{{e.price  | number:'1.2-2' | currency:'TND'  }}</p>
                    <p>Nombre de places est : {{e.nbPlaces}}</p>
                    <a [routerLink]="['./',e.id]">Details</a>
                    <!-- Bouton Like -->
                    <button  (click)="Like(e)" class="btn btn-sm btn-primary" >
                        👍 Like
                    </button>   <!--event binding-->
                    <span class="ms-2">{{e.nbLikes}}</span>
                    <a [routerLink]="['participate',e.id,e.price]"><button class="btn btn-primary" >Participer</button></a>


                </div>
            </div>

